{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    {% block link %}

    {% endblock %}

    {% block title %}
        <title>To Do List</title>
    {% endblock %}
</head>
<body>
    {% block navbar %}
        <nav class="navbar">
            <ul>
                <li> <a>My name</a> </li>
                <li> <a>Tasks Done</a> </li>
                <li> <a>Teams</a> </li>
            </ul>
        </nav>

    {% endblock %}

    {% block content %}
    {% endblock %}

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      
</body>
</html>