{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <!-- <button onclick="consol_log_coucou()">coucou</button> -->
    <div class="main-content">
        <div class="task-content">
            <div class="task-content__header">
                <button class="button-add-task" onclick="open_modal_add_task()">Add task</button>
            </div>  
        </div>

    </div>

    <script src="{% static 'js/index.js' %}"></script>

    {% include 'modals/add_task.html' %}
{% endblock %}