@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f2f4f6;
    color: #1b2d45;
}

hr{
    background-color: #b6b6b699;
    border: none;
    height: 1px;
}

.cross_close{
    cursor: pointer;
}

input{
    font-family: 'Poppins', sans-serif;
}
textarea{
    font-family: 'Poppins', sans-serif;
}